* {
    font-family: sans-serif;
    box-sizing: border-box;
}


.page_icon{
    width: 35px;
    height: 35px;
}

header{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    border: 1px solid #646174;
    background-color: #a2ccea;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);

    border-radius: 5px;
    position:sticky;
    top: 0;
}
.Melutuba{
    color: aliceblue;
}